.container {
  padding: 0px;
  font-size: 1.2rem;
}

.heading {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: monospace;
}

.fact-output {
  margin-top: 20px;
}

.fact-output h2 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family:  monospace;
}
label {
  font-size: 1.5rem;        
  margin-bottom: 10px;  
  font-weight: bold;
  font-family:  monospace;   
  padding: 20; 
           
}

.input-field {
  font-size: 1.5rem;        /* Maintain larger font size */
  padding: 10px;            /* Increase padding for more space */
  height: 20px;             /* Set a fixed height for uniformity */
  width: 70%;              /* Full width */
  border-radius: 10px;      /* Rounded corners */
  border: 1px solid #ccc;   /* Light gray border */
  margin-bottom: 30px;      /* Space below each input */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-weight: bold;
  font-family:  monospace;

}

.dropdown-label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}

.contribution-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  flex: 1 0 calc(33.33% - 10px);
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.box-header {
  font-size: 2rem; /* Increased size for box headers */
  font-weight: bold; /* Bolder text */
  font-family:  monospace; /* Monospace font */
  margin-bottom: 10px; /* Space below the header */
}

.stat-number {
  color: red; /* Red color for the stat number */
  font-size: 1.8rem; /* Slightly larger size for the stat number */
  font-weight: bold; /* Bold text for emphasis */
}

.color-0 {
  background-color: #add8e6;
}

.color-1 {
  background-color: #90ee90;
}

.color-2 {
  background-color: #ffcccb;
}

.color-3 {
  background-color: #fffacd;
}

.color-4 {
  background-color: #dda0dd;
}

.error {
  color: red;
  margin-top: 10px;
}

.action-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
